<% provide(:title, 'Team View (Admin)') %>
<div class="container">
<h1>Teams Listing (Admin)</h1>
  <p>Here are all of the teams you have control over.
    <%=link_to "If you want to create a new team, click the button below", new_team_path %>
  </p>
  <%= link_to "Create a new team", new_team_path, :class => 'btn btn-primary'%>
  <hr>
  <h2>Teams</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Team Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @teams.each  do |team| %>
      <tr>
        <td><%=team.name %></td>
        </td>
        <td>
          <%= link_to "View", team_path(team) ,:class => 'text-primary' %> /  <%= link_to "Edit", edit_team_path(team) %> /
          <%= link_to "Delete",  team_path(team), method: :delete, data: {confirm: "Are you sure you want to delete team " + team.name+ "?"}, :class => 'text-danger'%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
