<% provide(:title, 'Create Teams') %>
<% if @admin_rights %>
<div class="container">
  <h1>Create Teams</h1>

  <!--  If the user entered invalid stuff for teams, render error messages-->
  <%= form_for :team, url:teams_path do |f| %>
    <%if not @team.errors.blank? %>
      <!--    <div class="alert alert-danger"> <%#= @post.full %></div>-->
      <% @team.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"> <%=msg %></div>
      <%end %>
    <%end %>
    <!--    Always rendered forms-->
    <p>
      <%= f.label :name%>
      <%= f.text_field :name, {:class => 'form-control'} %>
    </p>
    <hr/>
    <p>
      Make sure you type the course ID in the next field to add a team.
    </p>
    <table class="table table-striped">
    <thead>
    <tr>
      <th>Course Name</th>
      <th>Course No</th>
      <th>Course ID</th>
    </tr>
    </thead>
      <tbody>
    <% current_user.admin.courses.each do |c|%>
      <tr>
        <td>
          <%= c.name %>
        </td>
        <td>
          <%= c.class_number %>
        </td>
        <td>
          <%= c.id %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
    <p>
      <label for="team_course_id">Course ID</label>
      <br>
      <%= f.number_field :course_id, {:class => 'form-control'} %>
    </p>
    <p>
      <%= f.submit ({:class => 'btn btn-primary'}) %>
      <%= link_to "Back", teams_path, :class => 'btn btn-primary'%>
    </p>
  <% end %>
</div>
<% else %>
  <%= render 'shared/permission_denied' %>
<% end %>