<% provide(:title, 'Team ' + @team.name) %>
<div class="container">
  <h1>Team View</h1>
  <hr/>
  <h2>Team <%= @team.name %> for course <%= @team.course.class_number %></h2>
  <br/>
  <% if not @team.users.empty? %>
  <p>Team Members</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Member Name</th>
      <th>Id</th>
    </tr>
    <% @team.users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
          <% if user.admin %>
            (Admin)
          <% end %>
        </td>
        <td>
          <%= user.id %>
        </td>
      </tr>
      <% end %>
      </table>
    <% else %>
    <p>No team members found! </p>
    <% end %>
    </table>
  <%= link_to "To Teams Page", teams_path, :class => 'btn btn-primary'%>
  <!--    get request to http://localhost:3000/teams/[SOME TEAM ID NUMBER]/projects/new-->
  <% if @admin_rights %>
    <%= link_to "Create new project", new_team_project_url(params[:id]), :class => 'btn btn-primary'%>
  <% end %>
  <%= link_to "To Project Page", team_projects_path(team_id: params[:id]), :class => 'btn btn-primary'%>
</div>