<% provide(:title, "Instructors' Sign Up") %>

<div class="psuedo-body">
    <div class="custom-jumbo">
    <h1>University Identification:</h1>
        <%= form_with(model: @admin, local: true, url: "/sign_up/institution_auth?user_id=#{request.params[:user_id]}") do |f| %>
            <%= render 'shared/admin_error_messages' %>

            <p>NOTE: You can complete this step later by logging in and clicking the "Institution Authentication" link</p>

            <%= f.label :institution_id %>
            <%= f.text_field :institution_id, class: "form-control" %>

            <%= f.submit "Create Admin Account", class: "btn" %>
            <%= link_to "Student? Use this sign-up form instead.", "/sign_up" %>
        <% end %>
        <%= button_to "Login Instead", "/login", class: "btn back-button", method: :get %>
    </div>
</div>