<% if session[:user_id] == params[:id].to_i %>
<%# Hyper-basic profile page, just for debugging atm %>
<% provide(:title, "Account") %>
<div class="content">
    <div class="left-pannel">
        <table aria-role="presentation">
            <td>
                <%= image_tag "ProfilePic.png", alt: "Default Profile Picture", class: "prof-pic" %>
            </td>
            <td>
                <h1 class="name"><%= @user.name %></h1>
            </td>
        </table>
        <p class="email">Associated Email: <%= @user.email %></p>
        <%= link_to "Delete Account", "/delete_account?user=#{session[:user_id]}", class: "btn btn-outline-danger" %>
        <%= link_to "Update Account", "/users/#{session[:user_id]}/edit", class: "btn btn-outline reset-password" %>
        <div class="divider-both"></div>
    </div>
    <% if User.find_by(id: session[:user_id])[:admin_id] %>
        <%= render "shared/admin_account", locals: {managed_courses: @managed_courses, managed_teams: @managed_teams, co_admins: @co_admins} %>
    <% else %>
        <%= render "shared/student_account", locals: {courses: @courses, teams: @teams, admins: @admins} %>
    <% end %>
</div>
<% else %>
    <%= render "/shared/permission_denied" %>
<% end %>
<%# Debug information about the page can be displayed using the following: %>
    <p><br><strong>Debug Information:</strong></p>
    <%= debug(params) if Rails.env.development? %>