<% if session[:user_id] == params[:id].to_i %>
<%# Hyper-basic profile page, just for debugging atm %>
<div class="content">
    <div class="left-pannel">
        <table aria-role="presentation">
            <td>
                <%= image_tag "ProfilePic.png", alt: "Default Profile Picture", class: "prof-pic" %>
            </td>
            <td>
                <h1 class="name"><%= @user.name %></h1>
            </td>
        </table>
        <p class="email">Associated Email: <%= @user.email %></p>
    </div>
    <% if User.find_by(id: session[:user_id])[:admin_id] %>
        <%= render "shared/admin_account", locals: {managed_courses: @managed_courses} %>
    <% else %>
        <%= render "shared/student_account", locals: {courses: @courses, teams: @teams, admins: @admins} %>
    <% end %>
</div>
<% else %>
    <%= render "/shared/permission_denied" %>
<% end %>
<%# Debug information about the page can be displayed using the following: %>
    <p><br><strong>Debug Information:</strong></p>
    <%= debug(params) if Rails.env.development? %>