<div class="right-pannel">
    <h1>Managed Courses:</h1>
    <div class="divider"></div>
    <ul>
        <% if @managed_courses.length == 0 %>
            <p class="faded">No Managed Courses</p>
        <% else %>
            <% @managed_courses.each do |mc| %>
                <li>
                <%= mc.name + " (" + mc.class_number.to_s + ") | " %>
                <%= link_to "View" , course_path(mc)%> /
                <%= link_to "Delete", course_path(mc), method: :delete, data: {confirm: "Are you sure you want to delete team " + mc.class_number.to_s+ "?"}, :class => 'text-danger'%>
                </li>
            <% end %>
        <% end %>
    </ul>
    <h1>Managed Teams:</h1>
    <div class="divider"></div>
    <ul>
        <% if @managed_teams.length == 0 %>
            <p class="faded">No Managed Teams</p>
        <% else %>
            <% @managed_teams.each do |mc| %>
                <% mc.each do |mt| %>
                    <li>
                    <%= mt.name + " (" + mt.course.name + ") | " %>
                    <%= link_to "View" , team_path(mt)%>
                    </li>
                <% end %>
            <% end %>
        <% end %>
    </ul>
    <h1>Co-Administrators:</h1>
    <div class="divider"></div>
    <ul>
        <% if @co_admins.length == 0 || !@has_co_admins%>
            <p class="faded">No Co-Admins</p>
        <% else %>
            <% @co_admins.each_index do |i| %>
                <% if @co_admins[i].length > 0%>
                    <li><%= @managed_courses[i].class_number %></li>
                    <ul>
                        <% @co_admins[i].each do |a|%>
                            <li>
                                <%= a.user.name%>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            <% end %>
        <% end %>
    </ul>
</div>
<div class="left-pannel peer-eval-column">
    <h1>Peer Evaluation Status:</h1>
    <div class="divider"></div>
    <ul>
    <%= @project_status %>
    <% if @project_status.flatten.length > 0 %>
        <% @managed_teams.each_with_index do |team_c, o|%>
            <% team_c.each_with_index do |team, i| %>
                <% if @project_status[@project_team_index].length > 0%>
                <li><%= team.name %>
                    <ul>
                        <% team.projects.each_with_index do |proj, j|%>
                            <li><%= proj.name %> <% ":" if @project_status[@project_team_index][j] != -1 %>
                            <span class="pe-pending"><%= "Pending" if @project_status[@project_team_index][j] == 0 %></span>
                            <span class="pe-complete"><%= "Complete" if @project_status[@project_team_index][j] == 1 %></span>
                            | <%= link_to "View", "/teams/#{team.id}/projects/#{proj.id}" %>
                            </li>
                        <% end %>                        
                    </ul>
                    <% @project_team_index += 1 %>
                </li>
                <% end %>
            <% end %>
        <% end %>
    <% else %>
        <p class="faded">No Active Peer Evals!</p>
    <% end %>
    </ul>
</div>