<header>
    <h1><%= link_to "Peer Evaluation Tool", "/" %></h1>
    <ul class="nav small">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"></a>
            <ul class="dropdown-menu">
                <li>
                    <a class="nav-link" href="/about">About</a>  
                </li>
                <% if @admin_rights == -1 %>
                    <li>
                        <a class="nav-link important-link" href="/sign_up/institution_auth?user=<%= @current_user[:id] %>">Authenticate with your University</a>  
                    </li>
                <% else %>
                    <li>
                        <a class="nav-link" href="/courses">Courses</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/about">Students</a>
                    </li>
                <% end %>
                <li class="nav-item">
                    <%= link_to "Account", "/users/#{@current_user[:id]}", class: "nav-link" %>
                </li>
                <li>
                    <%= link_to "Logout", "/logout", class: "nav-link sign-up" %>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav large">
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <% if @admin_rights == -1 %>
            <li>
                <a class="nav-link important-link" href="/sign_up/institution_auth?user=<%= @current_user[:id] %>">Authenticate with your University</a>  
            </li>
        <% else %>
            <li>
                <a class="nav-link" href="/courses">Courses</a>  
            </li>
            <li>
                <a class="nav-link" href="/about">Students</a>
            </li>
        <% end %>
        <li class="nav-item">
            <%= link_to "Account", "/users/#{@current_user[:id]}", class: "nav-link" %>
        </li>
        <li>
            <%= link_to "Logout", "/logout", class: "nav-link sign-up" %>
        </li>
    </ul>
    <div></div>
</header>