<div class="right-pannel">
    <h1>Enrolled Courses:</h1>
    <div class="divider"></div>
    <ul>
        <% @courses.each do |c| %>
            <li><%= c.name %> | <%= c.class_number%></li>
        <% end %>
        <% if @courses.length == 0 %>
            <p class="faded">No Courses</p>
        <% end %>
    </ul>
    <h1>Teams:</h1>
    <div class="divider"></div>
    <ul>
        <% @teams.each do |t| %>
            <li><%= t.name%></li>
            <ul>
                <% t.users.each do |tu| %>
                    <li><%= tu.name%></li>
                <% end %>
            </ul>
        <% end %>
        <% if @teams.length == 0 %>
            <p class="faded">No Teams</p>
        <% end %>
    </ul>
    <h1>Administrators:</h1>
    <div class="divider"></div>
    <ul>
        <% @admins.each do |ac| %>
            <% ac.each do |a| %>
                <% if a.user %>
                    <li><%= a.user.name %> | <%= Course.find(CourseAdmin.find_by(admin_id: ac.first.id)[:course_id]).name %></li>
                <% end %>
            <% end %>
        <% end %>
        <% if @admins.length == 0 %>
            <p class="faded">No Related Admins</p>
        <% end %>
    </ul>
</div>