<div class="right-pannel">
    <h1>Enrolled Courses:</h1>
    <div class="divider"></div>
    <ul>
        <% @courses.each do |c| %>
            <li><%= c.name %> | <%= c.class_number%></li>
        <% end %>
        <% if @courses.length == 0 %>
            <p class="faded">No Courses</p>
        <% end %>
    </ul>
    <h1>Teams:</h1>
    <div class="divider"></div>
    <ul>
        <% @teams.each do |t| %>
            <li><%= t.name%></li>
            <ul>
                <% t.users.each do |tu| %>
                    <li><%= tu.name%></li>
                <% end %>
            </ul>
        <% end %>
        <% if @teams.length == 0 %>
            <p class="faded">No Teams</p>
        <% end %>
    </ul>
    <h1>Administrators:</h1>
    <div class="divider"></div>
    <ul>
        <% @admins.each_index do |i| %>
            <% @admins[i].each do |a| %>
                <% if a.user %>
                    <li><%= a.user.name%> | <%= @courses[i].name %></li>
                <% end %>
            <% end %>
        <% end %>
        <% if @admins.length == 0 %>
            <p class="faded">No Related Admins</p>
        <% end %>
    </ul>
</div>
<div class="left-pannel peer-eval-column">
    <h1>Peer Evaluation Status:</h1>
    <div class="divider"></div>
    <ul>
        <% @teams.each_with_index do |team, i|%>
            <% if team.projects.length > 0 %>
                <li><%= team.name %>
                    <ul>
                            <% team.projects.each_with_index do |proj, j|%>
                                <li><%= proj.name %> : <span class="pe-pending"><%= "Pending" if @project_status[i][j] == 0 %></span><span class="pe-complete"><%= "Complete" if @project_status[i][j] == 1 %></span></li>
                            <% end %>
                    </ul>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>