<div class="right-pannel">
    <h1>Enrolled Courses:</h1>
    <div class="divider"></div>
    <ul>
        <% @courses.each do |c| %>
            <li><%= c.class_number%></li>
        <% end %>
    </ul>
    <h1>Teams:</h1>
    <div class="divider"></div>
    <ul>
        <% @teams.each do |t| %>
            <li><%= t.name%></li>
            <ul>
                <% t.users.each do |tu| %>
                    <li><%= tu.name%></li>
                <% end %>
            </ul>
        <% end %>
    </ul>
    <h1>Administrators:</h1>
    <div class="divider"></div>
    <ul>
        <% @admins.each do |ac| %>
            <% ac.each do |a| %>
                <li><%= a.user.name%> : <%= Course.find(CourseAdmin.find_by(admin_id: ac.first.id)[:course_id]).class_number %></li>
            <% end %>
        <% end %>
    </ul>
</div>