<% provide(:title, 'Edit Teams') %>
<% if @admin_rights %>
<div class="container">
  <h1>Editing project <%= @project.name %> for team  <%= @project.team.name %></h1>

  <!--  If the user entered invalid stuff for teams, render error messages-->
  <%= form_for :project, url:team_project_path(team_id: @project.team.id, id: @project.id), method: :patch do |f| %>
    <%if not @project.errors.blank? %>
      <!--    <div class="alert alert-danger"> <%#= @post.full %></div>-->
      <% @project.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"> <%=msg %></div>
      <%end %>
    <%end %>

    <p>
      <%= f.label :name%>
      <br>
      <%= f.text_field :name, {:class => 'form-control'} %>
    </p>
    <p>
      <%= link_to "To Projects Page", team_projects_path, :class => 'btn btn-primary'%>
      <%= f.submit({:class => 'btn btn-primary'}) %>
      <%= link_to "To Team Page", team_path(params[:team_id]), :class => 'btn btn-primary'%>
    </p>
  <% end %>
</div>

<% else %>
<%= render 'shared/permission_denied' %>
<% end %>