<div class="container">
  <h1>All projects for <%= @team.name %></h1>

  <% if @admin_rights %>
   <%= link_to ("Create a project for " + @team.name) , new_team_project_url(params[:team_id]), :class => 'btn btn-primary'%>
  <% end %>
  <%= link_to "To Team Page", team_path(params[:team_id]), :class => 'btn btn-primary'%>


  <table class="table table-striped">
    <thead>
    <tr>
      <th>Team Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <% @team.projects.each  do |project| %>
        <tr>
          <td>
            <%=project.name %>
          </td>
          <td>
            <%= link_to "View", '/teams/' + params[:team_id].to_s + '/projects/' + project.id.to_s, :class => 'text-primary' %>
            <% if @admin_rights %>
              / <%= link_to "Edit", edit_team_project_path(id: project.id) %>
              /  <%= link_to "Delete",  team_project_path(id: project.id), method: :delete, data: {confirm: "Are you sure you want to delete project " + project.name+ "?"}, :class => 'text-danger'%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>


  </table>

</div>