<div class="container">
  <h1>
    Project <%=@project.name %>
  </h1>
  <p>for team <%=@project.team.name %></p>

<!--  Button here for peer evals for this project-->
  <%= link_to "To Projects Page", team_projects_path, :class => 'btn btn-primary'%>
  <% if @admin_rights %>
    <%= link_to "To Peer Evals", '#', :class => 'btn btn-primary'%>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>Peer Evals Completed</th>
      </tr>
      </thead>
      <tbody>
      <% @project.team.users.each do |user| %>
        <% if !user.admin%>
          <tr>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= user.peer_evals.select{|x| x.project_id == @project.id}.length - @project.team.users.length - 1%>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% else %>
  <% end %>

</div>