<div class="container">
  <h1>
    Project <%=@project.name %>
  </h1>
  <p>for team <%=@project.team.name %></p>

  <!--  Button here for peer evals for this project-->
  <%= link_to "To Projects Page", team_projects_path, :class => 'btn btn-primary'%>
  <%= link_to "To Peer Evals", "#{@project.id}/peer_eval", :class => 'btn btn-primary'%>
  <% if @admin_rights %>

    <% if !@project.needs_eval %>
      <%= link_to "Start Evaluations", team_project_path(team_id: @project.team.id, id: @project.id) + "/toggle_eval", method: :patch, :class => 'btn btn-success'%>
    <% else %>
      <%= link_to "End Evaluations", team_project_path(team_id: @project.team.id, id: @project.id) + "/toggle_eval", method: :patch, :class => 'btn btn-danger'%>
    <% end %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>Peer Evals Completed</th>
      </tr>
      </thead>
      <tbody>
      <% @project.team.users.each do |user| %>
        <% if !user.admin%>
          <tr>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= @project.peer_evals.select{|x| x.user_id == user.id}.length %> /  <%= @project.team.users.select{|user| !user.admin}.length - 1 %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% else %>

<!--  Student view-->


  <% end %>
</div>