<% provide(:title, "Login") %>

<div class="psuedo-body">
    <div class="custom-jumbo">
    <h1>Welcome Back!</h1>
    <%= form_with(url: '/login', scope: :session, local: true) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= link_to "Forgot Password", "/reset_password" %>
        <br>
        <%= link_to "Create New Account", "/sign_up" %>
        <br>
        <br>
        <%= f.submit "Log In", class: "btn" %>
        <link>
    <% end %>
    <%= button_to "Back", "/", class: "btn back-button", method: :get %>
    </div>
</div>