<% provide(:title, "Sign Up") %>

<div class="psuedo-body">
    <div class="custom-jumbo">
    <h1>Let's get you started:</h1>
        <%= form_with(model: @user, local: true) do |f| %>
            <%= f.label :name%>
            <%= f.text_field :name%>
            
            <%= f.label :email%>
            <%= f.email_field :email%>

            <%= f.label :password%>
            <%= f.password_field :password%>

            <%= f.label :password_confirmation, "Re-Enter Password"%>
            <%= f.password_field :password_confirmation%>

            <%= f.submit "Create Account", class: "btn"%>
        <% end %>
    <button class="btn back-button"><%= link_to "Back", "/" %></button>
    </div>
</div>