<% provide(:title, 'Create Course') %>
<div class="container">
    <h1>Create Course</h1>

    <!--  If the user entered invalid stuff for teams, render error messages-->
    <%= form_for :course, url:courses_path do |f| %>
        <%if not @course.errors.blank? %>
            <!--    <div class="alert alert-danger"> <%#= @post.full %></div>-->
            <% @course.errors.full_messages.each do |msg| %>
                <div class="alert alert-danger"> <%=msg %></div>
            <%end %>
        <%end %>
        <!--    Always rendered forms-->
        <p>
            <%= f.label :name, "Course Name"%>
            <br>
            <%= f.text_field :name, class: 'form-control' %>
        </p>
        <p>
            <%= f.label :class_number, "Course Number"%>
            <br>
            <%= f.number_field :class_number, class: 'form-control' %>
        </p>
        <p>
            <%= f.submit class: 'btn btn-primary' %>
        </p>
    <% end %>
</div>